/* agregamos la fuente a utilizar en la pagina*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Mono;

}

html{
    scroll-behavior: smooth;
}
#inicio{
    background: linear-gradient(rbga(0,0,0,.7),rbga(0,0,0,.7), url(""));
    background-size:cover;
    background-position:center center ;
    height: 100vh;
    background-color:  rgb(11, 36, 36);
}

#inicio .contenido header {
    background-color: rgba(0,0,0,.8);
    position: fixed ;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color:  WHITE;
}

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .05s;
}

#inicio .contenido header .contenido-header nav ul a:hover {
    color:  rgb(11, 36, 36);
}

#inicio .contenido header .contenido-header .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .05s;
}

#inicio .contenido header .contenido-header .redes a:hover {
    color:  rgb(11, 36, 36);
}

#inicio .contenido header .contenido-header .seleccionado {
    color:  rgb(11, 36, 36);

}

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span {
    font-size: 25px;
    color: darkblue;
}

#inicio .contenido .presentacion .descripcion{
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .05s;
}

#inicio .contenido .presentacion a:hover {
    background-color: darkblue;
}

#icono-nav {
    color: #fff;
    display: none;
}

/* SECCION SOBRE MI*/

#sobremi{
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color:  rgb(11, 36, 36);
    display: flex; 
}

#sobremi .contenedor-foto {
    max-width: 400px;
    margin-right: 80px;
}

#sobremi .contenedor-foto img {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;
}

#sobremi .sobremi {
    margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color:  rgb(11, 36, 36);
    text-decoration: underline;
    text-decoration-color:#d3d3d3;
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h2 span {
    color:darkblue;
}

#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p {
    font-size: 14px;
    line-height:  rgb(11, 36, 36);
    margin-bottom: 12px;
}

#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: #111135;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #fff;
    margin-top: 30px;
    transition: .05s;
}

#sobremi .sobremi a:hover {
    background-color:  rgb(11, 36, 36);
    color: #5a5a9c;
}



/* seccion footer */
footer {
    background-color:  rgb(11, 36, 36);
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}

/* Seccion responsive */
@media screen and (max-width:800px){
    .redes {
        display: none;
    }
    nav {
        display: none;
    }

    nav.responsive {
        display: block;
        background-color: rgba(0,0,0,.8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;

    }

    nav.responsive ul {
        display: block !important;
        text-align: center;
    }

    nav.responsive ul li {
        margin: 5px 0;
    }

    #icono-nav {
        display: block;
    }

    #inicio .contenido .presentacion h2 {
        font-size: 40px;
    }

    #sobremi {
        padding: 50px 0;
        display: block;
    }

    #sobremi .contenido-foto { 
        padding: 8px;
        margin: auto;
    }

    #sobremi .contenido-foto {
        padding: 8px;
    }

    #sobremi .sobremi .titulo-seccion {
        text-align: center;
    }

    #sobremi .sobremi h2 {
        font-size: 25px;
        text-align: center;
    }

    #servicios {
        padding: 50px 15px;
    }

    #servicios .fila {
        display: block;
    }

    #servicios .fila .servicio {
        margin: 10px auto;
    }

    .contenedor-skills {
        padding: 50px 20px;
    }

    #portafolio .fila {
        display: block;
    }

    #portafolio .fila .proyectos {
        margin: 10px auto;
    }

    #contacto {
        padding: 50px 15px;
    }

    #contacto .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }

    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }
}


/* Seccion responsive */
@media screen and (max-width:800px){
    .redes {
        display: none;
    }
    nav {
        display: none;
    }

    nav.responsive {
        display: block;
        background-color: rgba(0,0,0,.8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;

    }

    nav.responsive ul {
        display: block !important;
        text-align: center;
    }

    nav.responsive ul li {
        margin: 5px 0;
    }

    #icono-nav {
        display: block;
    }

    #inicio .contenido .presentacion h2 {
        font-size: 40px;
    }

    #sobremi {
        padding: 50px 0;
        display: block;
    }

    #sobremi .contenido-foto { 
        padding: 8px;
        margin: auto;
    }

    #sobremi .contenido-foto {
        padding: 8px;
    }

    #sobremi .sobremi .titulo-seccion {
        text-align: center;
    }

    #sobremi .sobremi h2 {
        font-size: 25px;
        text-align: center;
    }

    #servicios {
        padding: 50px 15px;
    }

    #servicios .fila {
        display: block;
    }

    #servicios .fila .servicio {
        margin: 10px auto;
    }

    .contenedor-skills {
        padding: 50px 20px;
    }

    #portafolio .fila {
        display: block;
    }

    #portafolio .fila .proyectos {
        margin: 10px auto;
    }

    #contacto {
        padding: 50px 15px;
    }

    #contacto .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }

    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }
}

/* Seccion contacto*/
#contacto {
    padding: 100px 15px;
}

#contacto .titulo-seccion {
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #090930;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#contacto .contenedor-form {
    max-width: 1100px;
    margin: auto;
}

#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}

#contacto .contenedor-form .mitad input {
    width: 48%;
}

#contacto .contenedor-form .input-full {
    width: 100%;
}

#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
}

#contacto .btn-enviar:hover {
    background-color:rgb(11, 36, 36);
    color: #fff;
}