<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" 
    />
    <link rel="stylesheet" href="css/style2.css">
    <title>SystemOut</title>
</head>
<body>


    <!-- Seccion inicio -->
    <section id="inicio">
        <div class="contenido">
            <header>
                <div class="contenido-header">
                    <H1>/Informacion de SystemOut/</H1>
                    <nav id="nav" class="">
                        <ul id="links">
                            <li  class="four columns "><a href="index.html">Inicio</a></li>
                            <li class="four columns "><a href="sobresystemout.html">Sobre systemout</a></li>
                            <li class="four columns "><a href="contacto.html">Contacto</a></li>

                        </ul>
                    </nav>

                    <!-- iconos del menu responsive -->
                    <div id="icono-nav" onclick="responsiveMenu()">
                        <i class="fa-solid fa-bars"></i>
                    </div> 

                    <!-- iconos de las redes -->
                    <div class="redes">
                        <a href="https://msng.link/o/?Daniel Gutiérrez=tg" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                        <a href="https://www.facebook.com/danielmauricio.gutierrez.5/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://wa.link/j9q2ba"><i class="fa-brands fa-whatsapp" target="_blank"></i></a>
                    </div>

                </div>
            </header>
            <div class="presentacion">
                <p class="bienvenida">Bienvenidos</p>
                <h2>Somos <span>SystemOut</span>, Servicios especializados</h2>
                <p class="descipcion">la mejor plataforma</p>
                <a href="#portafolio">iNFORMACION</a>
            </div>
        </div>
    </section>

    <!-- Seccion sobre mi -->
    <section id="sobremi">
        <div class="contenedor-foto">
            <img src="img/st.jpeg" alt="">
        </div>

        <div class="sobremi">
            <p class="titulo-seccion">Sobre Nosotros</p>
            <h2>Hola, Somo <span>SystemOut</span></h2>
            <h3>
                Una plataforma segura, en la cual puedas poner a dar a conocer tus problemas con dispositivos tecnológicos a disposición de profesionales..</h3>
            <p>System-Out es un Software basado en prestación de servicios en el cual los usuarios puedan acceder 
                y solicitar un soporte técnico a domicilio (Tecnología Smart). Además de facilitar a 
                los técnicos y tecnólogos la prestación de sus servicios de manera más directa y por lo tanto 
                brindar una oportunidad para obtener ingresos extras.</p>
            
        </div>
    </section>
    
    <!-- Seccion contacto -->
    <footer>
        <p>Todos los derechos reservados @2022</p>
        <div class="redes">
            <a href="" target="_blank"><i class="fa-brands fa-telegram"></i></a>
            <a href="" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-whatsapp" target="_blank"></i></a>
        </div>
    </footer>

    <script src="js/script.js"></script>


</body>
</html>