<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SystemOut</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
</head>

<div id="hero">
    <div class="container">
        <div class="row">
            <div class="six columns">
                <div class="contenido-hero">
                    <h2>Servicios SystemOut</h2>
                    <p>Rapido, eficiente y seguro</p>
                    <form action="#" id="busqueda" method="post" class="formulario">
                        <input class="u-full-width" type="text" placeholder="Que servicio te gustaria adquirir"
                            id="buscador">
                        <input type="submit" id="submit-buscador" class="submit-buscador">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="barra">
    <div class="container">
        <div class="row">
            <div class="four columns icono icono1">
                <p>Expertos en el area de la informatica<br>
                    Confia en nosotros
                </p>
            </div>
            <div class="four columns icono icono2">
                <p>Soporte TI<br>
                    Hardware y Software
                </p>
            </div>
            <div class="four columns icono icono3">
                <p>Tratamiento de <br>
                    Computadoras, celulares, tablets etc.
                </p>
            </div>
        </div>
    </div>
</div>

<div id="lista" class="container">
    <h1 id="encabezado" class="encabezado">Adquiere algun servicio</h1>
    <div class="row">
        <div class="four columns">
            <div class="card">
                <img src="img/pc1.jpeg" class="u-full-width">
                <div class="info-card">
                    <h4>Reparacion de computadoras</h4>
                    <p>de tipo software y hardware</p>
                    <img src="img/estrellas.png">
                    <p class="precio"> <span class="u-pull-right"></span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito                        
                        ">Agregar Al Carrito</a>
                </div>
            </div>
        </div>
        <div class="four columns">
            <div class="card">
                <img src="img/celular1.jpeg" class="u-full-width">
                <div class="info-card">
                    <h4>Reparacion de celulares</h4>
                    <p>de tipo software y hardware</p>
                    <img src="img/estrellas.png">
                    <p class="precio"> <span class="u-pull-right"></span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito                        
                        ">Agregar Al Carrito</a>
                </div>
            </div>
        </div>
        <div class="four columns">
            <div class="card">
                <img src="img/hardware1.jpeg" class="u-full-width">
                <div class="info-card">
                    <h4>Instalacion de software y hardware</h4>
                    <p>de tipo software y hardware</p>
                    <img src="img/estrellas.png">
                    <p class="precio"> <span class="u-pull-right"></span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito                        
                        ">Agregar Al Carrito</a>
                </div>
            </div>
        </div>
    </div><!--.row-->

    <div class="row">
        <div class="four columns">
            <div class="card">
                <img src="img/mantenimiento1.jpeg" class="u-full-width">
                <div class="info-card">
                    <h4>Mantenimiento de computadoras</h4>
                    <p>de tipo hardware</p>
                    <img src="img/estrellas.png">
                    <p class="precio"> <span class="u-pull-right"></span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito                        
                        ">Agregar Al Carrito</a>
                </div>
            </div>
        </div>
        <div class="four columns">
            <div class="card">
                <img src="img/diagnostico1.jpeg" class="u-full-width">
                <div class="info-card">
                    <h4>Diagnostico de dispositivos</h4>
                    <p>de tipo software y hardware</p>
                    <img src="img/estrellas.png">
                    <p class="precio"> <span class="u-pull-right"></span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito                        
                        ">Agregar Al Carrito</a>
                </div>
            </div>
        </div>
        <div class="four columns">
            <div class="card">
                <img src="img/asesor1.jpeg" class="u-full-width">
                <div class="info-card">
                    <h4>Asesoramiento de computadoras</h4>
                    <p>de tipo hardware</p>
                    <img src="img/estrellas.png">
                    <p class="precio"> <span class="u-pull-right"></span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito                        
                        ">Agregar Al Carrito</a>
                </div>
            </div>
        </div>
    </div><!--.row-->




</div><!--.row-->
</div>
<footer>
    <p>Todos los derechos reservados @2022</p>
    <p>Creadores de SystemOut</p>
    <div class="redes">
        <a href="" target="_blank"><i class="fa-brands fa-telegram"></i></a>
        <a href="" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-whatsapp" target="_blank"></i></a>
    </div>

</footer>